exercises/clang/old_src/
exercises/serpente/mini

exercises/clang/array_file
exercises/clang/astringhe
exercises/clang/concatena
exercises/clang/esad
exercises/clang/mioatoi
exercises/clang/ostringhe
exercises/clang/paridispari
exercises/clang/reverse
exercises/clang/ribalta_elenco
exercises/clang/smista
exercises/clang/somma_arr
exercises/clang/somma_mancanti
exercises/clang/somme_distinte
exercises/clang/ordina
exercises/clang/coppie
exams/triangolo
exercises/clang/confronta_lunghezza

exercises/clang/infile.txt
exercises/clang/outfile.txt
exams/infile.txt

exercises/clang/abr_capitali
exercises/clang/sudamerica
exercises/clang/conta_parole
exercises/clang/inferno7bit.txt
exercises/clang/intervallo
exercises/clang/numeri.txt
exercises/clang/persone.txt
exercises/clang/src/strint.h.gch
exercises/serpente/test.txt
exercises/serpente/test.txt.rev
exercises/serpente/random_dir.py
