old_src/

exercises/clang/astringhe
exercises/clang/concatena
exercises/clang/mioatoi
exercises/clang/ostringhe
exercises/clang/paridispari
exercises/clang/reverse
exercises/clang/ribalta_elenco
exercises/clang/somma_arr
exercises/clang/somma_mancanti
exercises/clang/somme_distinte

exercises/clang/infile.txt
exercises/clang/outfile.txt
